.container > div:first-child > section > div:last-child {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container > div:first-child > section > div:last-child > div:first-child {
  width: 70%;
  cursor: default;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  color: var(--gray-400);
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("../img/circle-exclamation-solid.svg");
}
.container > div:first-child > section > div:last-child > div:last-child {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.container
  > div:first-child
  > section
  > div:last-child
  > div:last-child
  > button {
  height: 4rem;
  width: 20rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-style: normal;
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem; /* top right bottom left*/
}
.container
  > div:first-child
  > section
  > div:last-child
  > div:last-child
  > button:first-child {
  color: var(--color-white);
  background-color: var(--color-orange);
}
.container
  > div:first-child
  > section
  > div:last-child
  > div:last-child
  > button:last-child {
  color: var(--color-orange);
  border: solid var(--color-orange) 0.2rem;
}
