.container > div:first-child > header {
  flex: 0 1 4rem;
  padding-top: 1rem;
  font-size: 3.5rem;
  padding-left: 2rem;
  font-style: normal;
  color: var(--color-orange);
}
.container > div:first-child > header > figure {
  cursor: default;
}
.container > div:first-child > header > figure > img {
  width: 2%;
}
